body {
    font-family: Arial, sans-serif;
    background-color: #282c34;
    color: #f5f5f5;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    overflow: hidden; /* Ascunde scroll-ul */
}
pre {
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: #44475a;
    color: #f8f8f2;
    padding: 1em;
    border-radius: 8px;
    max-width: 100%;
    max-height: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    overflow-y: hidden;
}
a {
    color: #8be9fd;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

footer {
    position: fixed; /* Keep it fixed at the bottom */
    bottom: 0; /* Align to the bottom */
    left: 0;
    width: 100%; /* Make it span the entire width */
    background-color: var(--primary-dark); /* Background color */
    padding: 10px 0; /* Padding for better spacing */
    text-align: center; /* Center the text */
    
    z-index: 10;
}

.footer-text {
    background: linear-gradient(270deg, #522258, #8C3061, #C63C51, #D95F59);
    background-size: 400% 400%;
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientAnimation 1s ease infinite;
    text-decoration: none;
    font-size: 18px;
    
}

footer i {
    margin: 0 5px; /* Add some spacing between the icons */
}

/* Animation for gradient */
@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}